.main-2-child29 {
  position: absolute;
  top: 197px;
  left: 31px;
  background-color: var(--color-darkslategray-100);
  filter: blur(10px);
  width: 1980px;
  height: 899px;
}
.main-2-child30 {
  top: 1110px;
  left: 2011px;
  background: linear-gradient(180deg, #353535 40.63%, rgba(51, 51, 51, 0));
  width: 1964px;
  height: 163px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.main-2-child30,
.main-2-child31,
.main-2-child32 {
  position: absolute;
  filter: blur(10px);
}
.main-2-child31 {
  top: 183px;
  left: 47px;
  background: linear-gradient(180deg, #292929, rgba(44, 44, 44, 0) 74.48%);
  width: 1937px;
  height: 117px;
}
.main-2-child32 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 2011px;
  height: 204px;
}
.logo {
  position: absolute;
  top: 15px;
  left: 315px;
  border-radius: var(--br-231xl);
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.search-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 741px;
  height: 66px;
}
.b62,
.search {
  position: absolute;
  top: 21px;
  left: 78px;
}
.search {
  height: 60.61%;
  width: 5.4%;
  top: 19.7%;
  right: 92.04%;
  bottom: 19.7%;
  left: 2.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search9 {
  position: absolute;
  top: 77px;
  left: 579px;
  filter: blur(10px);
  width: 741px;
  height: 66px;
}
.user,
.cart {
  position: absolute;
  height: 7.57%;
  width: 4.18%;
  top: 5.86%;
  right: 27.5%;
  bottom: 86.58%;
  left: 68.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cart {
  height: 7.21%;
  width: 4.97%;
  top: 6.31%;
  right: 22.28%;
  bottom: 86.49%;
  left: 72.75%;
}
.main-28 {
  position: absolute;
  top: -16px;
  left: -64px;
  width: 2011px;
  height: 1110px;
  color: var(--color-gray-100);
}
.language {
  position: absolute;
  top: 63px;
  left: 1517.2px;
  width: 230.5px;
  height: 65.1px;
  object-fit: cover;
}
.main-child26 {
  position: absolute;
  top: 0;
  left: 2px;
  background: linear-gradient(90deg, #222, rgba(34, 34, 34, 0));
  filter: blur(10px);
  border-top: 4px solid var(--color-darkgray);
  border-right: 4px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 520px;
  height: 892px;
}
.gamepad,
.monitor,
.phone,
.camera {
  position: absolute;
  height: 11.22%;
  width: 5.2%;
  top: 70.85%;
  right: 92.93%;
  bottom: 17.93%;
  left: 1.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gamepad,
.phone,
.camera {
  height: 12.49%;
  top: 37.56%;
  bottom: 49.96%;
}
.gamepad,
.camera {
  height: 11.21%;
  top: 23.32%;
  bottom: 65.47%;
}
.gamepad {
  height: 10.28%;
  width: 6.24%;
  top: 86.55%;
  right: 92.41%;
  bottom: 3.17%;
  left: 1.35%;
}
.main-child27 {
  position: absolute;
  top: 470px;
  left: 517px;
  filter: blur(10px);
  border-top: 4px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1409px;
  height: 4px;
}
.nas {
  position: absolute;
  height: 11.21%;
  width: 5.2%;
  top: 54.71%;
  right: 92.93%;
  bottom: 34.08%;
  left: 1.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b63,
.b64 {
  position: absolute;
  filter: blur(10px);
}
.b63 {
  top: 50px;
  left: 115px;
  font-size: var(--font-size-51xl);
}
.b64 {
  top: 228px;
  left: 201px;
}
.main-child28,
.main-child29 {
  border-top: 4px solid var(--color-darkgray);
  box-sizing: border-box;
  height: 4px;
}
.main-child28 {
  position: absolute;
  top: 190px;
  left: 0;
  filter: blur(10px);
  width: 521px;
}
.main-child29 {
  top: 470px;
  left: -2px;
  width: 524px;
}
.b65,
.main-child29,
.main-child30,
.nas3 {
  position: absolute;
  filter: blur(10px);
}
.main-child30 {
  top: 330px;
  left: 2px;
  border-top: 4px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 521px;
  height: 4px;
}
.b65,
.nas3 {
  top: 369px;
  left: 173px;
}
.nas3 {
  top: 507px;
  left: 245px;
}
.b66 {
  top: 647px;
  left: 164px;
  text-align: center;
}
.b66,
.b67,
.main-child31,
.main-child32 {
  position: absolute;
  filter: blur(10px);
}
.b67 {
  top: 757px;
  left: 163px;
  display: inline-block;
  text-align: center;
  width: 294px;
  height: 108px;
}
.main-child31,
.main-child32 {
  top: 610px;
  left: 0;
  border-top: 4px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 521px;
  height: 4px;
}
.main-child32 {
  top: 750px;
}
.b68 {
  top: 50px;
  left: 962px;
  font-size: var(--font-size-51xl);
}
.b68,
.b69,
.main-child33 {
  position: absolute;
  filter: blur(10px);
}
.b69 {
  top: 486px;
  left: 1112px;
  font-size: var(--font-size-51xl);
}
.main-child33 {
  top: 2px;
  left: 517px;
  border-top: 4px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1406px;
  height: 4px;
}
.main4 {
  position: absolute;
  top: 188px;
  left: -2px;
  width: 1924px;
  height: 892px;
  opacity: 0.5;
  font-size: var(--font-size-31xl);
}
.menu-child4 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #1c1c1c, rgba(72, 71, 71, 0));
  border-top: 5px solid var(--color-darkgray);
  border-bottom: 5px solid var(--color-darkgray);
  border-left: 5px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 624px;
  height: 698px;
}
.userMenu {
  position: absolute;
  height: 9.17%;
  width: 10.26%;
  top: 4.87%;
  right: 81.89%;
  bottom: 85.96%;
  left: 7.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-child5,
.menu-child6,
.menu-child7,
.menu-child8 {
  position: absolute;
  top: 122px;
  left: 0;
  border-top: 4px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 626px;
  height: 4px;
}
.menu-child6,
.menu-child7,
.menu-child8 {
  top: 247px;
  left: -2px;
}
.menu-child7,
.menu-child8 {
  top: 366px;
  left: 0;
}
.menu-child8 {
  top: 474px;
  left: -2px;
}
.b70,
.b71 {
  position: absolute;
  top: 48px;
  left: 184px;
  display: inline-block;
  width: 67px;
  height: 30px;
}
.b71 {
  top: 51px;
  left: 299px;
  width: 173px;
  height: 29px;
}
.catalogue {
  position: absolute;
  height: 8.01%;
  width: 10.26%;
  top: 22.78%;
  right: 81.89%;
  bottom: 69.21%;
  left: 7.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menu-child9 {
  position: absolute;
  top: 52.5px;
  left: 273.5px;
  border-right: 3px solid var(--color-white);
  box-sizing: border-box;
  width: 3px;
  height: 33px;
}
.cartMenu {
  position: absolute;
  height: 8.6%;
  width: 12.82%;
  top: 39.97%;
  right: 80.61%;
  bottom: 51.43%;
  left: 6.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.languageMenu {
  position: absolute;
  top: 389px;
  left: 196px;
  width: 220px;
  height: 65.1px;
  object-fit: cover;
}
.b72,
.b73,
.b74 {
  position: absolute;
  top: 169px;
  left: 184px;
}
.b73,
.b74 {
  top: 291px;
}
.b74 {
  top: 486px;
  left: 174px;
}
.b75,
.facebook {
  position: absolute;
  top: 547px;
  left: 41px;
}
.tel{
  color: #fff;
}
.facebook {
  height: 9.31%;
  width: 10.42%;
  top: 88.25%;
  right: 61.7%;
  bottom: 2.44%;
  left: 27.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b76 {
  position: absolute;
  top: 547px;
  left: 348px;
}
.instagram,
.whatsup {
  position: absolute;
  height: 9.31%;
  width: 10.42%;
  top: 88.25%;
  right: 29.01%;
  bottom: 2.44%;
  left: 60.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.whatsup {
  right: 45.35%;
  left: 44.23%;
}
.menu1 {
  position: absolute;
  top: 250px;
  left: 1298px;
  width: 624px;
  height: 698px;
  font-size: var(--font-size-11xl);
}
.child24,
.child25,
.child26 {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: var(--color-gainsboro-300);
  width: 1298px;
  height: 1080px;
  cursor: pointer;
}
.child25,
.child26 {
  left: 1300px;
  width: 622px;
  height: 250px;
}
.child26 {
  top: 948px;
  width: 619px;
  height: 132px;
}
.div9 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
